<section id="home">
  <head>
    
    

    <title>Login </title>
  </head>
  <body style="margin-left: 50px">
  <div class="container"  style="height:650px ; ">
  
      <div class="row" >
        <div class="col-md-6">
          <img src="assets/img/details-4.png" alt="Image" class="img-fluid" style="height:650px ; width:850px" >
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4" style="padding-top : 20px">
              <h3 style="padding : 50px">Sign In</h3>
              <p class="mb-4">Welcome User!, Please Sign In to get Access to enhance your Knowledge.</p>
            </div>
            <form  [formGroup]="myform" >
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" formControlName="username"  class="form-control" id="username">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" formControlName ="password" class="form-control" id="password">
                
              </div>
              
             <!--   <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
              <span class="ml-auto"><a href="changepassword" class="forgot-pass">Forgot Password</a></span> 
              </div>-->
              <button class="btn"  (click) = "loginclick()">Sign in</button>
              <a class="btn"  href="#">Cancel</a>

             <!-- <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>
              
              <div class="social-login">
                <a href="#" class="facebook">
                  <span class="icon-facebook mr-3"></span> 
                </a>
                <a href="#" class="twitter">
                  <span class="icon-twitter mr-3"></span> 
                </a>
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span> 
                </a>
              </div>-->
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
      </div>
      
      </body>
    
  

  
   
  
