<app-header></app-header>
 <!-- ======= App Features Section ======= -->
 <section id="features" class="features">
    <div class="container">

      <div class="section-title">
        <h2 style="padding-top :50px;">App Features</h2>
        <p>Employees have lots of knowledge that is crucial for your organization and their colleagues. Sharing knowledge helps them connect, perform better, and become stronger as professionals.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-receipt"></i>
                <h4>Collaborate and build collective knowledge</h4>
                <p></p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-cube-alt"></i>
                <h4>Build a community and learning culture</h4>
                <p></p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-images"></i>
                <h4>Create better customer experiences</h4>
                <p></p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield"></i>
                <h4>Smarter risk taking</h4>
                <p></p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-atom"></i>
                <h4>Retain knowledge</h4>
                <p></p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="bx bx-id-card"></i>
                <h4>Connect remote employees to knowledge</h4>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/features.svg" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->
  <!-- ======= Details Section ======= -->
  <section id="details" class="details">
    <div class="container">

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="assets/img/details-1.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Advantages of Teamwork</h3>
          <p class="fst-italic">
            Teamwork can have many positive impacts in the workplace, some of which are obvious and will come to mind immediately.
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Better problem solving.</li>
            <li><i class="bi bi-check"></i> Increased potential for innovation.</li>
            <li><i class="bi bi-check"></i> Happier team members.</li>
            <li><i class="bi bi-check"></i> Enhanced personal growth.</li>
            <li><i class="bi bi-check"></i> More opportunities for growth.</li>
            <li><i class="bi bi-check"></i> Expanded creativity.</li>
          </ul>
          <p>
            You’ve likely heard the cliché “teamwork makes the dream work.”
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="assets/img/details-4.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Advantages of Ask To Solve</h3>
          <p class="fst-italic">
            Ask To Solve is a place to get answers.

            It features questions and answers on a wide range of topics in computer programming.
          </p>
          <p>
            Furthermore, by helping others you can make yourself a pretty good reputation and be a known and respected reference in your domain !
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Helping other colleagues .</li>
            <li><i class="bi bi-check"></i> Improving yourself by solving problems.</li>
            <li><i class="bi bi-check"></i> Learning something new.</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="assets/img/new-details-3.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Advantages of Sharing Knowledge</h3>
          <p>Knowledge might be power, but it’s much more powerful when it’s shared! If only one person knows how to do something, that prevents others from developing and can hinder your organisation’s progress.</p>
          <ul>
            <li><i class="bi bi-check"></i> Sharing knowledge is the most fundamental act of friendship. Because it is a way you can give something without loosing something..</li>
            <li><i class="bi bi-check"></i> Share your knowledge. It is a way to achieve immortality.</li>
            <li><i class="bi bi-check"></i> A good decision is based on knowledge, and not on numbers.</li>
          </ul>
          <p>
            Trust yourself, you know more than you think you do.
          </p>
          <p>
            Don't forget "Sharing is Carring".
          </p>
        </div>
      </div>

   

    </div>
  </section><!-- End Details Section -->
