  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        
  
       <a href="index.html"><img src="assets/img/logo5.png" ></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="welcome">Home</a></li>
          <li><a class="nav-link scrollto" href="post">Posts</a></li>
          <li><a class="nav-link scrollto" href="category">Categories</a></li>
          
          <li><a class="nav-link scrollto" href="#faq">F.A.Q</a></li>
          <li><a class="nav-link scrollto" href="profile">{{user.username}}</a></li>
          <li></li>
          
          <li><a class="getstarted scrollto" href="home" (click)="logout()">Log Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
   
