<div class="row align-items-center">
    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
        <!-- Title -->

    </div> <!-- Actions -->
    <div class="col-sm-6 col-12 text-sm-end">

        <button class="btn" data-toggle="modal" data-target="#add" (click)="addClick()" data-backdrop="static"
            data-keyboard="false">
            Add user
        </button>
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="closeClick()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-add-user  *ngIf="ActivateAddEditComp">
                        </app-add-user>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-header">
    <h5 class="mb-0">Users List</h5>
</div>
<div class="table-responsive">
    <table class="table table-hover table-nowrap">
        <thead class="thead-light">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">E-mail</th>

                <th scope="col">Inscit le </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th>Options</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of user">



                <td> <img alt="..." height="50" width=" 50" src="assets/img/blank_profile.png"
                        class="avatar avatar-sm rounded-circle me-2"> <a class="text-heading font-semibold"
                        href="#">{{dataItem.username}}</a>
                </td>
                <td>{{dataItem.email}}</td>

                <td> {{dataItem.date_joined}}</td>
                <td>{{dataItem.posts.pubId}}</td>


                <td> <span class="badge badge-lg badge-dot"> <i class="bg-success"></i>
                    </span> </td>

                <td class="text-end"> <a>

                        <button class="btn "data-toggle="modal" data-target="#edit"
                        data-backdrop="static" data-keyboard="false" (click)="editClick(dataItem)" >
                            Edit
                        </button>
                        
                     </a>
                    <a>


                        <button class="btn " data-toggle="modal" data-target="#show"
                        data-keyboard="false" (click)="showClick(dataItem)" >
                            Show
                        </button>
                        

                    </a>

                    <button class="btn" (click)="deleteClick(dataItem)"
                        class="btn btn-sm btn-square btn-neutral text-danger-hover">
                        <i class="bi bi-trash"></i> </button>
                        
                </td>
               
            </tr>
            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="closeClick()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-add-user  *ngIf="ActivateEditComp">
                        </app-add-user>
                    </div>
                </div>
            </div>
        </div>
            <div class="modal fade" id="show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
            
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <app-show [user]="user" *ngIf="ActivateShowComp">
                            </app-show>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
   
</div>








