<section id="home">
  <div class="container">
    <div class="card shadow border-0 mb-7">
      <div class="card-header">

        <div class ="row">
              
          <div class="col"> 
            <span class="userimage"><img class="mr-3" width="70" height="70"
              [src]="post.user.account.Image ? ImagePath+post.user.account.Image : '/assets/img/blank_img.png'"  class="avatar avatar-sm rounded-circle me-2"
              alt="Generic placeholder image" > 
          {{post.user.username}} </span>
        
      </div>

      <div class="col-6">  </div> 
      <div class="col"><td>
  <span class="date">  {{post.date | date: 'HH:mm , le dd/MM/yyyy' }}</span></td></div>

</div>
</div>
<div class="card-body">
  <div class="row"> 
    <div class="col-9"> <td>
      <p><h5>{{post.pubsubject}}
        
      </h5>

      <div [innerHTML]="post.pub"></div>
      </td>
      </div>



      <div class="container">
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
         





          <tbody>
            
            <tr *ngFor="let ans of sortData">
              
              <div *ngIf="ans.pub_id.pubId == post.pubId" >
                <div class="container card shadow border-0 mb-2 ">

                  
                    
                  
                    
                    <div class = "card-header" >
                      
                      <div class="row">
                        <div class="col-7">
                          <img class="mr-3" width="40" height="40" [src]="ans.user.account.Image ? ImagePath+ans.user.account.Image : '/assets/img/blank_img.png'" 
                      class="avatar avatar-sm rounded-circle me-2" alt="Generic placeholder image">
                     {{ans.user.username}}  
                      
                     </div>
                     
                     <div class="col-4">{{ans.date | date: 'HH:mm , le dd/MM/yyyy' }}</div>

                     

                    <div class="col"*ngIf="ans.validated==true">  
                    
                      <i style="color:green"class="fa-solid fa-check"></i></div> 
                    </div>
                  

                 
                  


</div>
<div class="card-body">
<div class="row">
  <div class="col">         
                
    <div [innerHTML]="ans.Ans"></div>  
                
              </div>
              <div class="col-2">
                <div *ngIf="ans.user.username==user.username">
                  <button type="button" class="btn"  (click)="deleteAnsClick(ans.AnsId)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-10">
                  <div class="row">
                    <div class="col-1">
<tr>
                       <small> <button style="border:0px; background-color:transparent"
                              (click)=" addVotePositive(ans.AnsId)" > <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i></span></button></small></tr>

                             <tr>  <small> <button style="border:0px; background-color:transparent" (click)="getList(ans.AnsId)"
                                  data-toggle="modal" data-target="#likes" data-backdrop="static" data-keyboard="true">
                                  <span class="fa-stack fa-fw stats-icon">
                                    {{getPositiveLike(ans.AnsId).length}}</span></button></small></tr>
            
            
                              <div class="modal fade bd-example-modal-sm" id="likes" tabindex="-1" role="dialog"
                                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">{{voteduser.length}} likes <small>
                                          <span class="fa-stack fa-fw stats-icon">
                                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                            <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i></span></small></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        (click)="closeClick()">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
            
                                      <div *ngIf="ActivateModal">
            
                                        <table class="table table-borderless">
                                          <tr *ngFor="let item of voteduser">
                                            <td><span class="userimage"><img class="mr-3" width="50" height="50"
                                              [src]="item.user_id.account.Image ? ImagePath+item.user_id.account.Image : '/assets/img/blank_img.png'"  class="avatar avatar-sm rounded-circle me-2"
                                                  alt="Generic placeholder image"></span>{{item.user_id.username}}
                                              </td>
            
                                          </tr>
                                        </table>
            
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                               

                              
                              </div>
                              
                              <div class="col-1">    
                    <tr>  <small> <button style="border:0px; background-color:transparent"
                              (click)=" addVoteNegative(ans.AnsId)"> <span class="fa-stack fa-fw stats-icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-thumbs-down  fa-stack-1x fa-inverse"></i>
        
                              </span></button></small></tr>
                      
                      
                        
        
        
                        
                      
                         <tr> <small> <button style="border:0px; background-color:transparent" (click)="getdisList(ans.AnsId)"
                              data-toggle="modal" data-target="#dislikes" data-backdrop="static" data-keyboard="true">
        
                              <span class="fa-stack fa-fw stats-icon">
                                {{getNegativeLike(ans.AnsId).length}}</span></button></small></tr>
                          <div class="modal fade bd-example-modal-sm" id="dislikes" tabindex="-1" role="dialog"
                            aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">{{voteddisuser.length}} dislikes
                                    <span class="fa-stack fa-fw stats-icon">
                                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                      <i class="fa fa-thumbs-down  fa-stack-1x fa-inverse"></i>
        
                                    </span></h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="closeClick()">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
        
                                  <div *ngIf="ActivatedisModal">
        
                                    <table class="table table-borderless">
                                      <tr *ngFor="let item of voteddisuser">
                                        <td><span class="userimage"><img class="mr-3" width="50" height="50"
                                          [src]="item.user_id.account.Image ? ImagePath+item.user_id.account.Image : '/assets/img/blank_img.png'"  class="avatar avatar-sm rounded-circle me-2"
                                              alt="Generic placeholder image"></span>{{item.user_id.username}}
                                          </td>
        
                                      </tr>
                                    </table>
        
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
        
        
        
        
        </div>
        
        </div>
                </div>
                
                <div class="col"*ngIf="user.user_id==post.user.id && ans.validated==false ">  
                 
                  <button class="btn"  (click)="validateAns(ans.AnsId)">  <i class="fa-solid fa-check"  ></i></button></div>










                  
            </div>
           
          



           



</div>
</div>
</div>
          </tbody>
          <button type="button" class="btn btn-light mr-1" (click)="ansClick()" >
          Answer
        </button>

        

                <app-ans [post]="post" *ngIf="ActivateAddEditAnsComp">

                </app-ans>
             
       
        </table>
      </div>


    </div>







  </div>