
  <div *ngIf="link == ''">
    <section id="home">
    <div class="card shadow border-0 mb-2" style="width:1240px">
        <div class="card-header">
            <h5 style="color :rgb(28, 5, 133)"> Overview </h5>
            </div>
            </div>
    <div class="row align-center">
      <div class="col-4">
        <div class="card border mb-3" style="background: linear-gradient(to bottom right,#F85EBD, #7AA0F3);">
           <h5 align = "center"> Number of back-end developpers</h5>
            <p align="center">{{userList.length}}</p>
            <div class="card-footer"> <a class="nav-link" >View details</a></div>
        </div>
      </div>
      <div class ="col-4">
      <div class="card border mb-2"  style="background: linear-gradient(to bottom right, #5777ba, #92B3FA);  ">
        <h5 align = "center"> Number of Front developpers</h5>
        <p align="center">50</p>
        <div class="card-footer"><a class="nav-link" >View details</a></div>
      </div>
    </div>
    <div class ="col-4">
      <div class="card border mb-2" style="background: linear-gradient(to bottom right, #92B3FA ,  #49E6DE);">
        <h5 align = "center"> Number of Designers</h5>
        <p align="center">50</p>
        <div class="card-footer"><a class="nav-link" >View details</a></div>
      </div>
    </div>
    </div>

    <div class="row align-center">
      <div class="col-4">
        <div class="card border mb-3" style="background: linear-gradient(to bottom right, #92B3FA ,  #49E6DE);">
           <h5 align = "center"> Number of Categories</h5>
            <p align="center" >
              {{CatList.length}}
            </p>
            <div class="card-footer">  <a class="nav-link" (click)="nbCat()">View details</a></div>
        </div>
      </div>
      <div class ="col-4">
      <div class="card border mb-2"  style="background: linear-gradient(to bottom right, #92B3FA,#F85EBD);  ">
        <h5 align = "center"> Number of Posts</h5>
        <p align="center">
          {{PostList.length}}
          </p>
        <div class="card-footer"><a class="nav-link" (click)="nbPost()">View details</a></div>
      </div>
    </div>
    <div class ="col-4">
      <div class="card border mb-2" style="background: linear-gradient(to bottom right, #B9CEFC ,#80A2EC);">
        <h5 align = "center"> Number of Answers</h5>
        <p align="center">{{ansList.length}}</p>
        <div class="card-footer"><a class="nav-link" (click)="nbAnswers()">View details </a></div>
      </div>
    </div>
    </div>
    
  
  <div class="card shadow border-0 mb-2 " style="width:1240px">
    <div class="card-header">
        <h5 style="color :rgb(28, 5, 133)"> User Activity </h5>
        </div>
<div class="row">
  <div class="col">
    <div class="card">
        Overall visited 
        <h5>Number of visit</h5>
    </div>
  </div>
  <div class="col border mb-2">
    2 of 2
  </div>
</div>
<div class="row">
  <div class="col">
    1 of 3
  </div>
  <div class="col border ">
    2 of 3
  </div>
  <div class="col border">
    3 of 3
  </div>
</div>
</div>
<div class="card shadow border-0 mb-2 " style="width:1240px">
  <div class="card-header">
      <h5  style="color :rgb(28, 5, 133)"> Recent Activities </h5>
      </div>


        <table class="table table-hover table">
          <tbody>
            
            <tr><h5 style="color :rgb(236, 81, 200)"> Aujourd'hui {{myDate| date : " le dd/MM/YYYY  à HH:MM"}}</h5></tr>
            
          <tr *ngFor="let item of PostList" >
            
            <td >
              
              <img class="mr-3" width="50" height="50" src="assets/img/blank_profile.png"
              class="avatar avatar-sm rounded-circle me-2" alt="Generic placeholder image">
              {{item.user.username}}
            </td>
            <td>Added a New Post </td>
            <td>
            {{item.pub}}
           </td>
           <td>{{item.date | date: 'HH:mm , le dd/MM/yyyy' }}</td>
         
          </tr>
         
          
          <tr *ngFor="let ans of ansList">
            <td class="py-1">
              <img class="mr-3" width="50" height="50" src="assets/img/blank_profile.png"
              class="avatar avatar-sm rounded-circle me-2" alt="Generic placeholder image">
              {{ans.user.username}}
            </td>
            <td>Added a New Answer </td>
            <td>
            {{ans.Ans}}
           </td>
           <td>{{ans.date | date: 'HH:mm , le dd/MM/yyyy' }}</td>

          </tr>
          
          
          </tbody>
        
            </table>
            </div>


</section>
</div>
<div *ngIf="link == 'cat'">
  
    <span class="font-weight-bold"> <button class="btn" (click)="anal()"><i class="bi bi-arrow-bar-left"></i></button></span>
  <app-cat></app-cat>
 
 

  </div>

<div *ngIf="link == 'post'">
  
    <span class="font-weight-bold"> <button class="btn" (click)="anal()"><i class="bi bi-arrow-bar-left"></i></button></span>
  <app-post></app-post>
 
 

 
</div>
<div *ngIf="link == 'ans'">
  
  <span class="font-weight-bold"> <button class="btn" (click)="anal()"><i class="bi bi-arrow-bar-left"></i></button></span>
  <div class="container ">
    <div class="card  mb-7" style="width:1250px">

      <div class="card-header">
        <h5 class="mb-0">Answers List</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
          <thead class="thead-light">
            <tr>

              
              <th>User</th>
              <th>Answer</th>
              
              <th>Post</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let dataItem of ansList ">
              <td>
                <li class="media">
                  {{dataItem.user.username}}




                </li>
                <img class="mr-3" width="50" height="50" src="assets/img/blank_profile.png"
                  class="avatar avatar-sm rounded-circle me-2" alt="Generic placeholder image">
              </td>
              <td>
              <h6>{{dataItem.Ans}}</h6>
                
              </td>
              
              <td>
                {{dataItem.pub_id.pub}}
              </td>

              <td>{{dataItem.date  | date: ' HH:mm , le dd/MM/yyyy'}}</td>





              
            
            </tr>
          </tbody>

        </table>
      </div>

    </div>

  </div>




</div>