<section id="home">
    <div class="card shadow border-0 mb-2" style="width:1240px">
        <div class="card-header">
            <h5> Overview </h5>
            </div>
            </div>
    <div class="row align-center">
      <div class="col-4">
        <div class="card border mb-3" style="background: linear-gradient(to right, #DB249E, rgb(162, 0, 255));height:150px;">
           <h5 align = "center"> Number of back-end developpers</h5>
            <p align="center">50</p>
            <a href="user">View details</a>
        </div>
      </div>
      <div class ="col-4">
      <div class="card border mb-2"  style="background: linear-gradient(to right, rgb(162, 0, 255) , rgb(15, 178, 219)); height:150px; ">
        <h5 align = "center"> Number of Front developpers</h5>
        <p align="center">50</p>
        <a href="user">View details</a>
      </div>
    </div>
    <div class ="col-4">
      <div class="card border mb-2" style="background: linear-gradient(to right, rgb(15, 178, 219), rgb(4, 197, 133)); height:150px;">
        <h5 align = "center"> Number of Designers</h5>
        <p align="center">50</p>
        <a href="user">View details</a>
      </div>
    </div>
    </div>
    
  
  <div class="card shadow border-0 mb-2 " style="width:1240px">
    <div class="card-header">
        <h5> User Activity </h5>
        </div>
<div class="row">
  <div class="col">
    <div class="card">
        Overall visited 
        <h5>Number of visit</h5>
    </div>
  </div>
  <div class="col border mb-2">
    2 of 2
  </div>
</div>
<div class="row">
  <div class="col">
    1 of 3
  </div>
  <div class="col border ">
    2 of 3
  </div>
  <div class="col border">
    3 of 3
  </div>
</div>
</div>
