<div id="wrapper">

  <div class="d-flex flex flex-column flex-shrink-0 bg-light vh-1000">

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center ">
      <li class="flex-column mb-2"><a class="py-3 border-bottom"><small><img src="assets/img/logo4.png"
              style="max-height: 65px; width:200px"></small></a>
      </li>
      <li class=" flex-column mb-3 "> <a href="admin/dashboard" class="nav-link active py-3 border-bottom" style="background-color: #5777ba; 
         color: #fff; "> <i class="bi bi-house"></i> Dashboard
        </a> </li>




      <li class="flex-column mb-3">
        <div *ngIf="pos != 'user'"><a class="nav-link  py-3 border-bottom scrollto" (click)="userClick()">

            <small><i class="bi bi-people"></i>
              Users </small>
          </a> </div>
        <div *ngIf="pos =='user'">
          <a class="nav-link scrollto py-3 border-bottom" style="background-color:#7790d64d; "><i
              class="bi bi-people"></i>
            Users </a>
        </div>
      </li>


      <li class="flex-column mb-3">
        <div *ngIf="pos !='cat'">
          <a class="nav-link scrollto py-3 border-bottom" (click)="catClick()"> <small><i class="bi bi-list">
              </i>categories</small></a>
        </div>

        <div *ngIf="pos =='cat'">

          <a class="nav-link scrollto py-3 border-bottom" style="background-color:#7790d64d; "><i class="bi bi-list">
            </i>categories </a>
        </div>

      </li>


      <li class="flex-column mb-3">
        <div *ngIf="pos !='stat'">

          <a (click)="statClick()" class="nav-link scrollto py-3 mb-4 border-bottom"> <small><i
                class="bi bi-bar-chart"></i>
              Posts
            </small></a>
        </div>
        <div *ngIf="pos =='stat'">
          <a class="nav-link scrollto py-3 mb-3 border-bottom" style="background-color:#7790d64d; ">
            <i class="bi bi-bar-chart"></i>
            Posts
          </a>
        </div>
      </li>
    </ul>
    <div class="dropdown border-top"> <a href="#"
        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"> <img src="" alt="mdo" width="24" height="24"
          class="rounded-circle"> </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
  <section id="home">
    <div *ngIf="pos == 'stat'">
      <app-post></app-post>
    </div>

    <div *ngIf="pos ==''">
      <app-statistic></app-statistic>
    </div>


    <div *ngIf="pos =='user'">
      <app-user></app-user>
    </div>

    <div *ngIf="pos =='cat'">
      <app-cat></app-cat>
    </div>