<app-header></app-header>
<div *ngFor="let item of userlist">
<section id="viewprofile">


   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="./profile.component.css" rel="stylesheet">
   <div class="container">
      <div class="row d-content-center">
         <div class="col">
            <div class="row p-3 py-4">

               <div class="upper">

                  <img src="assets/img/f.png" class="img-fluid">

                  <div class="text-left ">
                     <nav id="navbar" class="navbar">
                        <ul>
                           <li><a class="btn"   [routerLink]="['/edit', user.user_id]" >abouts</a></li>
                           
                        </ul>
                     </nav>
                  </div>
               </div>

               <div class="user text-center">
                  <div class="text-center "> <img  [src]="item.account.Image ? ImagePath+item.account.Image : '/assets/img/blank_img.png'" width="200" class="rounded-circle">
                  </div>


               </div>
               <div class="text-center mt-3"> 
                  <h3 class="mt-2 mb-0">{{user.username}}</h3>
                   <h2>{{user.Function}}</h2>
                  
                  </div>

               <div class="row justify-content-between">
                  <div class="col-4">
                  </div>
                  <div class="col-4">

                     <a href="addpost" class="btn">Add Post</a>
                  </div>
               </div>




               <div class="row ">


                  <!-- begin profile-content -->
                  <div class="profile-content">
                     <!-- begin tab-content -->
                     <div class="tab-content p-0">
                        <!-- begin #profile-post tab -->
                        <div class="tab-pane fade active show" id="profile-post" *ngFor="let pub of sortData">
                           <div>
                              <ul class="timeline">
                                 <li>
                                    <!-- begin timeline-time -->
                                    <div class="timeline-time">
                                       <span class="date">{{pub.date | date: 'dd/MM/yyyy' }}</span>

                                    </div>
                                    <!-- end timeline-time -->
                                    <!-- begin timeline-icon -->
                                    <div class="timeline-icon">
                                       <a href="javascript:;">&nbsp;</a>
                                    </div>
                                    <!-- end timeline-icon -->
                                    <!-- begin timeline-body -->
                                    <div class="timeline-body">
                                       <div class="timeline-header">
                                          <span class="userimage"><img [src]="pub.user.account.Image ? ImagePath+pub.user.account.Image : '/assets/img/blank_img.png'" alt=""></span>
                                          <span class="username">{{user.username}}
                                             <small></small></span>
                                          <span> </span>
                                       </div>
                                       <div class="timeline-content">
                                          
                                          <h5>{{pub.pubsubject}} </h5>
                                          <div [innerHTML]="pub.pub"> </div>

                                          
                                          <p></p>
                                       </div>
                                       <div class="timeline-likes">
                                          <div class="stats-right">

                                             <span><button type="button" class="btn" (click)="editClick(pub)"
                                                   data-toggle="modal" data-target="#edit" data-backdrop="static"
                                                   data-keyboard="true">
                                                   <i class="bi bi-pencil-square"></i>
                                                </button>



                                                <!-------modal---------->
                                                <div class="modal fade" id="edit" tabindex="-1" role="dialog"
                                                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                   <div class="modal-dialog modal-dialog-centered modal-xl"
                                                      role="document">
                                                      <div class="modal-content">
                                                         <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                               aria-label="Close" (click)="closeClick()">
                                                               <span aria-hidden="true">&times;</span>
                                                            </button>
                                                         </div>
                                                         <div class="modal-body">

                                                            <app-add-edit-pub [Post]="post" [ng]="'salut'"
                                                               *ngIf="ActivateAddEditPostComp">

                                                            </app-add-edit-pub>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>



                                             </span>
                                             <button type="button" class="btn" (click)="deleteClick(pub)">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                   class="bi bi-trash-fill" fill="currentColor"
                                                   xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd"
                                                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                                </svg>
                                             </button>
                                          </div>
                                          <div class="stats">
                                             <tr>
                                                <td><span class="fa-stack fa-fw stats-icon">
                                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                             </span></td>
                                             
                                             <td> <span class="fa-stack fa-fw stats-icon">
                                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
                                             </span></td>
                                             
                                            <tr><td><button style="border:0px; background-color:transparent" (click)="getList(pub.pubId)"  data-toggle="modal" data-target="#likes" data-backdrop="static" data-keyboard="true"> <span class="stats-total">{{getPositiveLike(pub.pubId)}}</span></button>
                                         
                                             <div class="modal fade bd-example-modal-sm" id="likes" tabindex="-1" role="dialog"
                                             aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                             <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                               <div class="modal-content">
                                                 <div class="modal-header">
                                                   <h5 class="modal-title" id="exampleModalLabel">{{voteduser.length}} likes <small>
                                                       <span class="fa-stack fa-fw stats-icon">
                                                         <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                         <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i></span></small></h5>
                                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                     (click)="closeClick()">
                                                     <span aria-hidden="true">&times;</span>
                                                   </button>
                                                 </div>
                                                 <div class="modal-body">
                         
                                                   <div *ngIf="ActivateModal">
                         
                                                     <table class="table table-borderless">
                                                       <tr *ngFor="let item of voteduser">
                                                         <div class="row">
                                                            <div class="col-3">
                                                            <span class="userimage"><img class="mr-3" width="50" height="50"
                                                            [src]="item.user_id.account.Image ? ImagePath+item.user_id.account.Image : '/assets/img/blank_img.png'"  class="avatar avatar-sm rounded-circle me-2"
                                                               alt="Generic placeholder image"></span></div><div class="col">{{item.user_id.username}}</div>
                                                           
                                                            </div>
                                                       </tr>
                                                     </table>
                         
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                         
                                         
                                         
                                          </td>
                                       <td><button style="border:0px; background-color:transparent"  (click)="getdisList(pub.pubId)"
                                          data-toggle="modal" data-target="#dislikes" data-backdrop="static" data-keyboard="true"> <span class="stats-total">{{getNegativeLike(pub.pubId).length}}</span></button>
                                       
                                          <div class="modal fade bd-example-modal-sm" id="dislikes" tabindex="-1" role="dialog"
                                          aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{voteddisuser.length}} dislikes
                                                  <span class="fa-stack fa-fw stats-icon">
                                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                    <i class="fa fa-thumbs-down  fa-stack-1x fa-inverse"></i>
                      
                                                  </span></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                  (click)="closeClick()">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                      
                                                <div *ngIf="ActivatedisModal">
                      
                                                  <table class="table table-borderless">
                                                    <tr *ngFor="let item of voteddisuser">
                                                      <div class="row">
                                                         <div class="col-3">
                                                      <span class="userimage"><img class="mr-3" width="50" height="50"
                                                         [src]="item.user_id.account.Image ? ImagePath+item.user_id.account.Image : '/assets/img/blank_img.png'"  class="avatar avatar-sm rounded-circle me-2"
                                                            alt="Generic placeholder image"></span>
                                                            </div>
                                                            <div class="col">{{item.user_id.username}}</div>
                                                        
                      </div>
                                                    </tr>
                                                  </table>
                      
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                       </td></tr>
                                            
                                             
                                          </div>
                                       </div>
                                       <div class="timeline-footer">

                                          <a href="javascript:;" class="m-r-15 text-inverse-lighter"
                                             (click)="showAnsClick(pub.pubId)"><i
                                                class="fa fa-comments fa-fw fa-lg m-r-3"></i> Answers </a>

                                       </div>
                                      
                                       <div class="timeline-comment-box" style="border-radius:30px" *ngIf="val == pub.pubId">
                                          <div class="card shadow border-0 mb-2" style="border-radius:30px">
                                             <div class="user"><img src="assets/img/blank_profile.png"></div>



                                             <div *ngFor="let ans of ansList">


                                                <div *ngIf="ans.pub_id.pubId == pub.pubId">





                                                   <div class="container">

                                                      <div class="card-header"
                                                         style="border-bottom: 1px solid #e2e7eb;">

                                                         <div class="row">
                                                            <div class="col-1">
                                                               <img class="mr-3" 
                                                               [src]="ans.user.account.Image ? ImagePath+ans.user.account.Image : '/assets/img/blank_img.png'" 
                                                                  class="avatar avatar-sm rounded-circle me-2"
                                                                  alt="Generic placeholder image">
                                                            </div>
                                                            <div class="col">
                                                               <span class="text-bold"> {{ans.user.username}} </span>

                                                            </div>
                                                            
                                                            <div class="col-4">{{ans.date | date: 'HH:mm , le dd/MM/yyyy' }}</div>
                                                            <div class="col"*ngIf="ans.validated==true">  
                    
                                                               <i style="color:green;"class="fa-solid fa-check"></i></div>
                                                         </div>
                                                      </div>







                                                      <div class="card-body">
                                                         <div class="row">
                                                            <div class="col">

                                                               <div [innerHTML]="ans.Ans"></div> 

                                                            </div>

                                                            
                                                         </div>

                                                      </div>
                                                      <div class="card-footer">
                                                         <div class="row">
                                                           <div class="col-9">
                                                             <div class="stats">
                                                               <tr>
                                                                 <td> <small> <button style="border:0px; background-color:transparent"
                                                                       (click)=" addVotePositive(ans.AnsId)" > <span class="fa-stack fa-fw stats-icon">
                                                                         <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                                         <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i></span></button></small>
                                                                        
                                                                       
                                                                       
                                                                       
                                                                       </td>
                                                                 <td><small> <button style="border:0px; background-color:transparent"
                                                                       (click)=" addVoteNegative(ans.AnsId)"> <span class="fa-stack fa-fw stats-icon">
                                                                         <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                                         <i class="fa fa-thumbs-down  fa-stack-1x fa-inverse"></i>
                                                 
                                                                       </span></button></small></td>
                                                               </tr>
                                                               <tr>
                                                                 <td><small> <button style="border:0px; background-color:transparent" (click)="getansList(ans.AnsId)"
                                                                       data-toggle="modal" data-target="#likes" data-backdrop="static" data-keyboard="true">
                                                                       <span class="fa-stack fa-fw stats-icon">
                                                                         {{getPositiveansLike(ans.AnsId).length}}</span></button></small>
                                                 
                                                 
                                                                   <div class="modal fade bd-example-modal-sm" id="likes" tabindex="-1" role="dialog"
                                                                     aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                                     <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                                       <div class="modal-content">
                                                                         <div class="modal-header">
                                                                           <h5 class="modal-title" id="exampleModalLabel">{{voteduser.length}} likes <small>
                                                                               <span class="fa-stack fa-fw stats-icon">
                                                                                 <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                                                 <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i></span></small></h5>
                                                                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                                             (click)="closeClick()">
                                                                             <span aria-hidden="true">&times;</span>
                                                                           </button>
                                                                         </div>
                                                                         <div class="modal-body">
                                                 
                                                                           <div *ngIf="ActivateModal">
                                                 
                                                                             <table class="table table-borderless">
                                                                               <tr *ngFor="let item of voteduser">
                                                                                 <div class="row">
                                                                                    <div class="col-3">
                                                                                <span class="userimage"><img class="mr-3" width="50" height="50"
                                                                                    [src]="item.user_id.account.Image ? ImagePath+item.user_id.account.Image : '/assets/img/blank_img.png'"  class="avatar avatar-sm rounded-circle me-2"
                                                                                       alt="Generic placeholder image"></span></div>
                                                                                       <div class="col">{{item.user_id.username}}</div>
                                                                                   
                                                 </div>
                                                                               </tr>
                                                                             </table>
                                                 
                                                                           </div>
                                                                         </div>
                                                                       </div>
                                                                     </div>
                                                                   </div>
                                                 
                                                 
                                                                 </td>
                                                                 <td>
                                                                   <small> <button style="border:0px; background-color:transparent" (click)="getdisansList(ans.AnsId)"
                                                                       data-toggle="modal" data-target="#dislikes" data-backdrop="static" data-keyboard="true">
                                                 
                                                                       <span class="fa-stack fa-fw stats-icon">
                                                                         {{getNegativeansLike(ans.AnsId).length}}</span></button></small>
                                                                   <div class="modal fade bd-example-modal-sm" id="dislikes" tabindex="-1" role="dialog"
                                                                     aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                                     <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                                       <div class="modal-content">
                                                                         <div class="modal-header">
                                                                           <h5 class="modal-title" id="exampleModalLabel">{{voteddisuser.length}} dislikes
                                                                             <span class="fa-stack fa-fw stats-icon">
                                                                               <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                                               <i class="fa fa-thumbs-down  fa-stack-1x fa-inverse"></i>
                                                 
                                                                             </span></h5>
                                                                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                                             (click)="closeClick()">
                                                                             <span aria-hidden="true">&times;</span>
                                                                           </button>
                                                                         </div>
                                                                         <div class="modal-body">
                                                 
                                                                           <div *ngIf="ActivatedisModal">
                                                 
                                                                             <table class="table table-borderless">
                                                                               <tr *ngFor="let item of voteddisuser">
                                                                                 <div class="row">
                                                                                    <div class="col-3">
                                                                                 <span class="userimage"><img class="mr-3" width="50" height="50"
                                                                                    [src]="item.user_id.account.Image ? ImagePath+item.user_id.account.Image : '/assets/img/blank_img.png'"  class="avatar avatar-sm rounded-circle me-2"
                                                                                       alt="Generic placeholder image"></span>
                                                                                       </div>
                                                                                       <div class="col">{{item.user_id.username}}</div>
                                                                                   
                                                 </div>
                                                                               </tr>
                                                                             </table>
                                                 
                                                                           </div>
                                                                         </div>
                                                                       </div>
                                                                     </div>
                                                                   </div>
                                                                 </td>
                                                               </tr>
                                                 
                                                 
                                                 
                                                 
                                                 
                                                 
                                                             </div>
                                                           </div>
                                                           <div class="col" *ngIf="ans.validated==false && valid==0">  
                    
                                                            <button class="btn" (click)="validateAns(ans.AnsId)">  <i class="fa-solid fa-check"  ></i></button></div>
                                                       </div>
                                                       
                                           
                                           
                                           
                                                      
                                           
                                           
                                           
                                           </div>
                                                   </div>
                                                </div>















                                             </div>



                                          </div>
                                       </div>
                                    </div>
                                    
                                    <!-- end timeline-body -->
                                 </li>

                              </ul>
                              <!-- end timeline -->
                           </div>
                        </div>
                        <!-- end #profile-post tab -->
                     </div>
                     <!-- end tab-content -->
                  </div>
                  <!-- end profile-content -->
               </div>
            </div>
         </div>
      </div>
   </div>


</section>