<app-header></app-header>
<div *ngFor="let item of userlist">
    <section id="editprofile">


        <div class="container rounded bg-white mt-5 mb-5">
            <div class="card shadow border-0 mb-7">
                <div class="row">

                    <div class="col-md-3 border-right  ">

                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">

                            <img class="rounded-circle mt-5" width="150px"
                            [src]="item.account.Image ? ImagePath+item.account.Image : '/assets/img/blank_img.png'">
                            <span class="font-weight-bold">{{user.username}}</span>
                            <div *ngIf="option == ''"><span class="font-weight-bold"> <button class="btn"
                                        (click)="changeclick()"><i class="bi bi-pencil-square"> </i>
                                    </button> </span></div>
                            <div *ngIf="option == 'profile'">
                                <span class="font-weight-bold"> <button class="btn" (click)="anuulClick()"><i
                                            class="bi bi-arrow-bar-left"></i>
                                    </button> </span>

                            </div>

                            <span class="font-weight-bold"> <a class="btn" [routerLink]="['/profile', user.user_id]"><i
                                        class="bi bi-backspace-fill"></i></a></span>

                        </div>

                    </div>

                    <div class="col-md-5 border-right ">

                        <div class="p-3 py-5">
                            <div *ngIf="option == 'profile'">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right">Profile Settings</h4>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                            class="form-control" [(ngModel)]="first_name" placeholder="first name"
                                            value=""></div>
                                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                            class="form-control" [(ngModel)]="last_name" placeholder="last name"></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                            class="form-control" [(ngModel)]="MobileNumber"
                                            placeholder="enter phone number" value=""></div>
                                    <div class="col-md-12"><label class="labels">Address </label><input type="text"
                                            class="form-control" [(ngModel)]="Address"
                                            placeholder="Enter phone numberenter address " value=""></div>
                                    <div class="col-md-12"><label class="labels">Username</label><input type="text"
                                            class="form-control" [(ngModel)]="username" placeholder="username" value="">
                                    </div>
                                    <div class="col-md-12"><label class="labels">Function</label><input type="text"
                                            class="form-control" [(ngModel)]="Function"
                                            placeholder="enter address line 2" value=""></div>
                                    <div class="col-md-12"><label class="labels">Email </label><input type="text"
                                            class="form-control" [(ngModel)]="email" placeholder="enter email id"
                                            value=""></div>
                                    <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                            class="form-control" [(ngModel)]="Education" placeholder="education"
                                            value=""></div>
                                            <div class="col-md-12"><img class="rounded-circle mt-5" width="150px" [src]=ImagePath height="80"
                                            width="80">
                                        <input type="file" value="Edit your Photo" (change)="uploadPhoto($event)"
                                            class="mt-2" />
                                    </div>
                                </div>

                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                        type="button" (click)="updateUser()">Save Profile</button>
                                    <button class="btn" type="button" (click)="anuulClick()">Annuler</button>
                                </div>
                            </div>
                            <div *ngIf="option == ''">

                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h3 class="text-right">Profile Informations</h3>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">
                                            <h5>First Name: </h5>
                                        </label> {{item.first_name}}</div>
                                    <div class="col-md-6"><label class="labels">
                                            <h5>Last Name: </h5>
                                        </label> {{item.last_name}}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">
                                            <h5>Mobile Number : </h5>
                                        </label> {{item.account.MobileNumber}}</div>
                                    <div class="col-md-12"><label class="labels">
                                            <h5>Address : </h5>
                                        </label> {{item.account.Address}}</div>
                                    <div class="col-md-12"><label class="labels">
                                            <h5>Username : </h5>
                                        </label> {{item.username}} </div>
                                    <div class="col-md-12"><label class="labels">
                                            <h5>Function : </h5>
                                        </label> {{item.account.Function}}</div>
                                    <div class="col-md-12"><label class="labels">
                                            <h5>Email : </h5>
                                        </label> {{item.email}} </div>
                                    <div class="col-md-12"><label class="labels">
                                            <h5>Education : </h5>
                                        </label> {{item.account.Education}}</div>
                                       
                                </div>
                                

                            </div>



                        </div>
                    </div>

                    <div class="col-md-4  ">

                        <div class="p-3 py-5">

                            <div class="row align-items-start ">

                                <div class="col">
                                    <div class="btn">
                                        <button class="btn btn-primary" style="width:300px" (click)="Editpassword()">Edit your Password</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row align-items-end ">
                                <div class="col"*ngIf="editpass==undefined">
                                    
                                </div>

                                <div class="col"*ngIf="editpass==1">
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">username</label><input type="text"
                                                class="form-control" [(ngModel)]="username" placeholder="first name"
                                                value=""></div>
                                        <div class="col-md-6"><label class="labels">Password</label><input type="password" 
                                                class="form-control" [(ngModel)]="old_password"></div>
                                                <div class="col-md-6"><label class="labels">New Password</label><input type="password" 
                                                    class="form-control" [(ngModel)]="new_password"></div>
                                    </div>
                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                        type="button" (click)="setPass()" >Edit password</button>
                                    
                                </div>
                                   

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
    </section>