<!-- ======= Header ======= -->
<header id="header" class="fixed-top  header-transparent ">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">


      <a href="index.html"><img src="assets/img/logo5.png"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="home">Home</a></li>
        
        <li><a class="nav-link scrollto" href="post">Publication</a></li>
        <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="getstarted scrollto" href="#signin">Sign In</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up">
        <div>
          <h1>Ask to Solve</h1>
          <h2>Notre plateforme Ask To Solve est une plateforme de question réponse sur les erreurs et les bugs de developpement, 
            Ask to Solve est destinées aux équipes des developpeurs et intégrateur de la societé EURO TECH CONSEIL TUNISIE
          </h2>
          <a href="admin" class="btn" > Admin Sign in</a>
          <a href="userlogin" class="btn" > User Sign in</a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
        <img src="assets/img/hr.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<main id="main">








  <!-- ======= signin Section ======= -->
  <section id="signin" class="signin">

    <div class="container">

      <div class="section-title">
        <h2>Sign In</h2>
      </div>
      <div class="col">
        <div class="card-deck">
          <div  class="card " >
          <img class="card-img-top" src="assets/img/details-4.png" alt="Card image cap" [height]="350"
          >
          <div class="card-body">
            <h5 class="card-title">Developper</h5>
            <p class="card-text">If you are a developer, Please click below </p>
            
          </div>
          
            <a href="userlogin" class="btn" >Sign in</a>
        </div>
        <div id="card" class="card"  >
          <img class="card-img-top" src="assets/img/details-1.png" alt="Card image cap" [height]="350" >
          <div class="card-body">
            <h5 class="card-title">Administration</h5>
            <p class="card-text">If you are administration, please click here.</p>
          </div>
          
            <a href="admin" class="btn" >Sign in</a>
            
          
        </div>
      </div>
      </div>
      </div>
    
      

       






        

      

    



  </section><!-- End signin Section -->
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p></p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/CEO.png" class="testimonial-img" alt="">
              <h3>Ahmed ATALLAH</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Depuis l'année 2000 , EURO TECH CONSEIL a réussi à fonder des relations professionnelles pérennes et être la prestataire 
                technologique stratégique de plusieurs organisation qui appartiennes aux secteurs d'activités similaires  tel que finance , 
                tourisme , enseignement , ...etc</p> 
                <p>Durant les derniers années nous avons pu augmenter notre chiffre d'affaires grâce aux efforts de nos collaborateur et à nos solution intelligentes
                  qui répondent aux enjeux les plus simples et complexes de notre marché.  
                </p>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 info">
              <i class="bx bx-map"></i>
              <h4>Address</h4>
              <p>A108 Adam Street,<br>New York, NY 535022</p>
            </div>
            <div class="col-lg-6 info">
              <i class="bx bx-phone"></i>
              <h4>Call Us</h4>
              <p>+1 5589 55488 55<br>+1 5589 22548 64</p>
            </div>
            <div class="col-lg-6 info">
              <i class="bx bx-envelope"></i>
              <h4>Email Us</h4>
              <p>contact@example.com<br>info@example.com</p>
            </div>
            <div class="col-lg-6 info">
              <i class="bx bx-time-five"></i>
              <h4>Working Hours</h4>
              <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form action="asrms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
            <div class="form-group">
              <input placeholder="Your Name" type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group mt-3">
              <input placeholder="Your Email" type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group mt-3">
              <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea placeholder="Message" class="form-control" name="message" rows="5" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
<app-footer></app-footer>