<section id="addform" class="addform">

  <!doctype html>
  <html lang="en">

  <head>
   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">



    <title > <div *ngIf="pubId == 0 ">Add a Post</div>
      <div *ngIf="pubId != 0 ">Update post</div>
     </title>
   
    
  </head>

  
  

    
        <div class="row align-items-stretch justify-content-center no-gutters">
          <div class="col-md-7">
            <div class="form h-100 contact-wrap p-5">
              <h3 class="text-center">
                <div *ngIf="pubId == 0 ">Add a Post</div>
                <div *ngIf="pubId != 0 ">Update post</div>
              </h3>
              
              <form class="mb-5" method="post" id="contactForm" name="contactForm">


                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label for="budget" class="col-form-label">Subject * </label>
                    <input type="text" class="form-control" name="subject" id="subject" [(ngModel)]="pubsubject"
                      placeholder="Your subject">
                  </div>
                </div>

                <div class="row mb-5">

                  <div class="col-md-12 form-group mb-3">
                  
                    <label for="message" class="col-form-label">Message *</label>
                    
                    

                    <angular-editor name="pub" id="message" cols="30" rows="4" [(ngModel)]="pub"
                    placeholder=" Write your  message " [config]="config" ></angular-editor>
                   
                    <!--<div class="html">
                      {{ htmlContent }}
                    </div>-->
                    
                
                   <!----<textarea class="form-control" name="pub" id="message" cols="30" rows="4" [(ngModel)]="pub"
                      placeholder=" Write your  message ">
                        </textarea>-->
                       
                    <div placeholder="user_id"></div>
                   
                  </div>
                  
               <!-- =======   <input type="file" id="avatar" name="avatar" accept="" [(ngModel)]="pub" [src]=filePath   (change)="uploadfile($event)" [src]=filePath>  -- =======-->

  <label for="message" class="col-form-label">Category *</label>

  <select  *ngIf ="Cat != undefined" class="form-select form-select-sm" aria-label=".form-select-sm example">
  
    <option >{{CatName}}</option> 
  </select>

    <select  *ngIf ="Cat == undefined"class="form-select form-select-sm" aria-label=".form-select-sm example"  >
    
    
    <option *ngFor="let dataItem of CatList"   (click)="onSelect(dataItem.CatId)"> {{dataItem.CatName}}</option>
    <option >Other </option>
    
  </select>
  
     </div>               


                
                <div class="row justify-content-center">
                  <div class="col col-lg-6 form-group text-center">

                   
                      <button  (click)="predict()" *ngIf="pubId == 0 "
                      class="btn btn-primary"   data-toggle="modal" data-target="#predict" data-backdrop="static" data-keyboard="true">Add Post</button>
                      <button (click)="updatePost()" *ngIf="pubId != 0 "
                      class="btn btn-primary">update</button> 
                    </div>
                      <div class="col col-lg-6 form-group text-center">

                       <a class="btn btn-primary" href="post">Annuler</a></div>
                  
                </div>
                

              </form>

             

            </div>
          </div>
        </div>
      


    
          
    <div class="modal fade bd-example-modal-xl" id="predict" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div *ngIf="loading==false">

      <div class="modal-content">
        <div *ngIf="ActivateModal">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><small>
            This Predicted Question and Answer may help you !
            </small></h5>
          
            <span aria-hidden="true">&times;</span>
          
        </div>
        <div class="modal-body">
          <div *ngIf="ActivateModal">

            <table class="table table-borderless">
              <tr >
                <td>your Question: </td>  <td>{{predictList.Question}}</td> </tr>
               <tr><td>Prediction: </td><td> {{predictList.Predicted}}</td></tr>
                <tr><td>Answer: </td><td>{{predictList.Answer}}</td>

              </tr>
            </table>

          

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="usefull()" >Usefull Answer !  </button> 
          <button class="btn btn-primary" (click)="addPostDetails()">Not !!</button>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '30px' }"
 
></ngx-loading>
   

  

  </html>

</section>